main h1.title-remove {
  font-size: 19px;
  font-family: sans-serif;
}

.removeBlacklist main p {
  font-size: 15px;
  font-family: sans-serif;
}

.removeBlacklist form input {
  padding: 8px 20px;
  font-size: 15px;
  outline: none;
}

.removeBlacklist button {
  padding: 10px 20px;
  font-size: 15px;
  outline: none; 
  cursor: pointer;
  background: #17af95;
  color: #fff;
  border: none;
  border-radius: 3px;
}


